<h2>以程式碼為主的表單開發方式</h2>
  <form #f="ngForm" [formGroup]="form" (ngSubmit)="submit()" >
  <label>
    title
    <input type="text" formControlName='title'>
    <span *ngIf = "form.get('title')['errors']?.required"> 請輸入標題</span>
  </label>
  <br>
    <div formGroupName="name">
      <label>
        firstName
        <input type="text"  formControlName='firstName'  >
      </label>
      <br>
      <label>
        LastName
        <input type="text" formControlName='lastName' >
      </label>
    </div>
  <br>
   <button type="submit" [disabled]='form.invalid'  >送出表單 </button>
   <pre>
form.get('title').value = {{ form.get('title')['value'] }}
form.get('title').valid = {{ form.get('title').valid}}
form.get('title').invalid = {{ form.get('title').invalid}}
form.get('title').touched = {{ form.get('title').touched}}



</pre>
</form>
<hr>

